In [23]:
import json
import pandas
import urllib.request
from pandas.io.json import json_normalize

URL = 'https://services.arcgis.com/su8ic9KbA7PYVxPS/arcgis/rest/services/Aggregate_Reported_Cases/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json'

In [24]:
body = urllib.request.urlopen(URL).read()

In [25]:
parsed_body = json.loads(body)

In [26]:
df = pandas.json_normalize(parsed_body,record_path=['features'])

In [28]:
df.columns = df.columns.str.replace('attributes.', '')

In [29]:
df

,OBJECTID,Date,Total,New_Cases,Old_Cases,Source,Date_Label,Date_Str,Date_Updated,Today
0,1,1583384400000,2,2,0,HCTX,03-05-2020,2020-03-05,1615680000000,2021-03-15
1,2,1583384400000,0,0,0,HOU,03-05-2020,2020-03-05,1615680000000,2021-03-15
2,3,1583384400000,2,2,0,ALL,03-05-2020,2020-03-05,1615680000000,2021-03-15
3,4,1583989200000,2,2,0,HCTX,03-12-2020,2020-03-12,1615680000000,2021-03-15
4,5,1583989200000,0,0,0,HOU,03-12-2020,2020-03-12,1615680000000,2021-03-15
...,...,...,...,...,...,...,...,...,...,...
1096,1097,1615611600000,597,422,175,HOU,03-13-2021,2021-03-13,1615680000000,2021-03-15
1097,1098,1615611600000,1143,878,265,ALL,03-13-2021,2021-03-13,1615680000000,2021-03-15
1098,1099,1615698000000,229,138,91,HCTX,03-14-2021,2021-03-14,1615680000000,2021-03-15
1099,1100,1615698000000,0,0,0,HOU,03-14-2021,2021-03-14,1615680000000,2021-03-15
1100,1101,1615698000000,229,138,91,ALL,03-14-2021,2021-03-14,1615680000000,2021-03-15

In [37]:
df.dtypes

OBJECTID         int64
Date             int64
Total            int64
New_Cases        int64
Old_Cases        int64
Source          object
Date_Label      object
Date_Str        object
Date_Updated     int64
Today           object
dtype: object